/*==============================
=            COLORS            =
==============================*/

/*----------  PRIMARY  ----------*/
$colorPrimary_1: #101010;
$colorPrimary_2: #f95b17;

/*----------  SECONDARY  ----------*/
$colorSecondary_1: #ebb7f5;
$colorSecondary_2: #b8ffc3;
$colorSecondary_3: #fff8b8;

/*----------  GREYSCALE  ----------*/
$colorGreyscale_1: #101010;
$colorGreyscale_2: #434649;
$colorGreyscale_3: #888c8f;
$colorGreyscale_4: #cdced0;
$colorGreyscale_5: #f5f5f5;
$colorGreyscale_6: #ffffff;

/*----------  SYSTEM PALETTE  ----------*/
$colorError: #eb392e;
$colorSuccess: #22af5c;

/*=====  End of COLORS  ======*/

/*=============================
=            FONTS            =
=============================*/

@font-face {
  font-family: Inter-Bold;
  src: url(../../assets/fonts/Inter/Inter-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Inter-Regular;
  src: url(../../assets/fonts/Inter/Inter-Regular.ttf);
  font-display: swap;
}

$font_1_bold: Inter-Bold;
$font_1_regular: Inter-Regular;

/*=====  End of FONTS  ======*/

/*=================================
=            TEXT SIZE            =
=================================*/
/*----------  H1  ----------*/
$h1_textsize_desktop: 64px;
$h1_textsize_mobile: 40px;

/*----------  H2  ----------*/
$h2_textsize_desktop: 48px;
$h2_textsize_mobile: 32px;

/*----------  H3  ----------*/
$h3_textsize_desktop: 32px;
$h3_textsize_mobile: 28px;

/*----------  H4  ----------*/
$h4_textsize_desktop: 24px;
$h4_textsize_mobile: 24px;

/*----------  H5  ----------*/
$h5_textsize_desktop: 20px;
$h5_textsize_mobile: 20px;

/*----------  H6  ----------*/
$h6_textsize_desktop: 18px;
$h6_textsize_mobile: 18px;

/*----------  PARAGRAPH QUOTE  ----------*/
$paragraphQuote_textsize_desktop: 24px;

/*----------  PARAGRAPH BIG  ----------*/
$paragraphBig_textsize_desktop: 18px;

/*----------  PARAGRAPH MEDIUM  ----------*/
$paragraphMedium_textsize_desktop: 16px;

/*----------  PARAGRAPH SMALL  ----------*/
$paragraphSmall_textsize_desktop: 14px;

/*----------  PARAGRAPH TINY  ----------*/
$paragraphTiny_textsize_desktop: 11px;

/*----------  LINK  ----------*/
$linkBig_textsize_desktop: 18px;
$linkMedium_textsize_desktop: 16px;
$linkSmall_textsize_desktop: 14px;

/*=====  End of TEXT SIZE  ======*/

/*==============================
=            BEZIER            =
==============================*/

$bezier_in1: cubic-bezier(0.47, 0, 0.745, 0.715);
$bezier_out1: cubic-bezier(0.39, 0.575, 0.565, 1);
$bezier_inout1: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$bezier_in2: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$bezier_out2: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$bezier_inout2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$bezier_in3: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$bezier_out3: cubic-bezier(0.215, 0.61, 0.355, 1);
$bezier_inout3: cubic-bezier(0.645, 0.045, 0.355, 1);
$bezier_in4: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$bezier_out4: cubic-bezier(0.165, 0.84, 0.44, 1);
$bezier_inout4: cubic-bezier(0.77, 0, 0.175, 1);
$bezier_in5: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$bezier_out5: cubic-bezier(0.23, 1, 0.32, 1);
$bezier_inout5: cubic-bezier(0.86, 0, 0.07, 1);
$bezier_in6: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$bezier_out6: cubic-bezier(0.19, 1, 0.22, 1);
$bezier_inout6: cubic-bezier(1, 0, 0, 1);

/*============================
=            GRID            =
============================*/

$grid_width: 64px; // COL WIDTH
$grid_gap: 40px; // GUTTER WIDTH
$grid_col: 12; // COL DEFAULT

$gap_tablet: 32px; // PADDING LEFT & RIGHT TABLET
$grid_tablet: calc(100% - (#{$gap_tablet} * 2)); // GRID TABLET

$gap_mobile: 16px; // PADDING LEFT & RIGHT MOBILE
$grid_mobile: calc(100% - (#{$gap_mobile} * 2)); // GRID MOBILE

@function calcGrid($numCol: 12, $addGap: 0) {
  $gap: calc(#{$addGap} * #{$grid_gap});
  $grid_gap: calc(#{$grid_gap} * 11 / 12);
  @return calc(
    ((#{$grid_width} * #{$numCol}) + ((#{$grid_gap} * #{$grid_col} / (#{$grid_col} - 1)) * (#{$numCol} - 1))) + #{$gap}
  );
}

$breakPoint_tablet: calcGrid();
$breakPoint_mobile: 700px;

// MIXIN RESPONSIVE
@mixin styleResponsive($size: 'mobile') {
  // BASIC SIZE
  @if $size == 'desktop' {
    @media (width > #{$breakPoint_tablet}) {
      @content;
    }
  } @else if $size == 'tablet' {
    @media (#{$breakPoint_mobile} <= width <= #{$breakPoint_tablet}) {
      @content;
    }
  } @else if $size == 'mobile' {
    @media (width <= #{$breakPoint_mobile}) {
      @content;
    }
  }

  // SPECIFIC SIZE
  @if $size == 'wider-mobile' {
    @media (width >= #{$breakPoint_mobile}) {
      @content;
    }
  } @else if $size == 'smaller-desktop' {
    @media (width <= #{$breakPoint_tablet}) {
      @content;
    }
  }
}

// MIXIN GRID
@mixin styleGrid($numCol: 12, $addGap: 0, $containerName: section) {
  margin-right: auto;
  margin-left: auto;

  @include styleResponsive('desktop') {
    width: calcGrid($numCol, $addGap);
  }

  @include styleResponsive('tablet') {
    width: $grid_tablet;
  }

  @include styleResponsive('mobile') {
    width: $grid_mobile;
  }
}

/*=====  End of GRID  ======*/

/*===============================
=            QUERIES            =
===============================*/

// MEDIA
@media ($breakPoint_mobile <= width <= $breakPoint_tablet) and (orientation: portrait) {
}

@media ($breakPoint_mobile <= width <= $breakPoint_tablet) and (orientation: landscape) {
}

@media ($breakPoint_mobile <= width <= $breakPoint_tablet) {
}

@media (width <= $breakPoint_mobile) {
}

/*=====  End of QUERIES  ======*/

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

/*----------  HEADING  ----------*/
@mixin styleH($hx, $color: $colorGreyscale_1, $font: $font_1_bold) {
  @if $hx== 'h1' {
    @media screen and (min-width: $breakPoint_mobile) {
      font-size: $h1_textsize_desktop;
      line-height: 1.3;
    }

    @media screen and (max-width: $breakPoint_mobile) {
      font-size: $h1_textsize_mobile;
      line-height: 1.4;
    }
  } @else if $hx == 'h2' {
    @media screen and (min-width: $breakPoint_mobile) {
      font-size: $h2_textsize_desktop;
      line-height: 1.3;
    }

    @media screen and (max-width: $breakPoint_mobile) {
      font-size: $h2_textsize_mobile;
      line-height: 1.4;
    }
  } @else if $hx == 'h3' {
    @media screen and (min-width: $breakPoint_mobile) {
      font-size: $h3_textsize_desktop;
      line-height: 1.3;
    }

    @media screen and (max-width: $breakPoint_mobile) {
      font-size: $h3_textsize_mobile;
      line-height: 1.4;
    }
  } @else if $hx == 'h4' {
    @media screen and (min-width: $breakPoint_mobile) {
      font-size: $h4_textsize_desktop;
      line-height: 1.3;
    }

    @media screen and (max-width: $breakPoint_mobile) {
      font-size: $h4_textsize_mobile;
      line-height: 1.4;
    }
  } @else if $hx == 'h5' {
    @media screen and (min-width: $breakPoint_mobile) {
      font-size: $h5_textsize_desktop;
      line-height: 1.1;
    }

    @media screen and (max-width: $breakPoint_mobile) {
      font-size: $h5_textsize_mobile;
      line-height: 1.4;
    }
  } @else if $hx == 'h6' {
    @media screen and (min-width: $breakPoint_mobile) {
      font-size: $h6_textsize_desktop;
      line-height: 1.1;
    }

    @media screen and (max-width: $breakPoint_mobile) {
      font-size: $h6_textsize_mobile;
      line-height: 1.4;
    }
  }

  color: $color;
  font-family: $font, sans-serif;
}

/*----------  PARAGRAPH  ----------*/
@mixin styleP($px, $color: $colorGreyscale_1, $font: $font_1_regular) {
  @if $px == 'quote' {
    font-size: $paragraphQuote_textsize_desktop;
    line-height: 1.1;
  } @else if $px == 'big' {
    font-size: $paragraphBig_textsize_desktop;
    line-height: 1.3;
  } @else if $px == 'medium' {
    font-size: $paragraphMedium_textsize_desktop;
    line-height: 1.3;
  } @else if $px == 'small' {
    font-size: $paragraphSmall_textsize_desktop;
    line-height: 1.3;
  } @else if $px == 'tiny' {
    font-size: $paragraphTiny_textsize_desktop;
    line-height: 1.3;
  }

  color: $color;
  font-family: $font;
}

/*----------  LINK  ----------*/
@mixin styleA($ax: 'big', $color: $colorGreyscale_2) {
  display: inline-flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  font-family: $font_1_bold, sans-serif;

  @if $ax == 'big' {
    font-size: $linkBig_textsize_desktop;
    line-height: 1.1;
  } @else if $ax == 'medium' {
    font-size: $linkMedium_textsize_desktop;
    line-height: 1.1;
  } @else if $ax == 'small' {
    font-size: $linkSmall_textsize_desktop;
    line-height: 1.1;
  }

  color: $color;
}

/*----------  SPACER  ----------*/
@mixin spacer($value: 'xl', $type: 'height', $dir: 'top') {
  $val: 0;
  @if $value == 'xxl' {
    @include styleResponsive('desktop') {
      $val: 160px;
    }
    @include styleResponsive('tablet') {
      $val: 120px;
    }
    @include styleResponsive('mobile') {
      $val: 80px;
    }
  } @else if $value == 'xl' {
    @include styleResponsive('desktop') {
      $val: 140px;
    }
    @include styleResponsive('tablet') {
      $val: 100px;
    }
    @include styleResponsive('mobile') {
      $val: 60px;
    }
  } @else if $value == 'l' {
    @include styleResponsive('desktop') {
      $val: 100px;
    }
    @include styleResponsive('tablet') {
      $val: 80px;
    }
    @include styleResponsive('mobile') {
      $val: 40px;
    }
  } @else if $value == 'm' {
    @include styleResponsive('desktop') {
      $val: 80px;
    }
    @include styleResponsive('tablet') {
      $val: 60px;
    }
    @include styleResponsive('mobile') {
      $val: 20px;
    }
  } @else if $value == 's' {
    @include styleResponsive('desktop') {
      $val: 60px;
    }
    @include styleResponsive('tablet') {
      $val: 40px;
    }
    @include styleResponsive('mobile') {
      $val: 20px;
    }
  } @else if $value == 'xs' {
    @include styleResponsive('desktop') {
      $val: 40px;
    }
    @include styleResponsive('tablet') {
      $val: 20px;
    }
    @include styleResponsive('mobile') {
      $val: 10px;
    }
  }

  @if $value == 'height' {
    height: $val;
  } @else if $value == 'gap' {
    gap: $val;
  } @else if $value == 'margin' {
  } @else if $value == 'padding' {
  }
}

/*----------  HOVER  ----------*/
@mixin styleHover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */
